In [1]:
import numpy as np
import pandas as pd
from pydataset import data

In [8]:
my_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
s1 = pd.Series(my_list)

## Exercies Part I

### One

In [20]:
print(s1.count())

17

### Two

In [29]:
print(s1.index)

RangeIndex(start=0, stop=17, step=1)

### Three

In [21]:
print(s1.values)

['kiwi' 'mango' 'strawberry' 'pineapple' 'gala apple' 'honeycrisp apple'
 'tomato' 'watermelon' 'honeydew' 'kiwi' 'kiwi' 'kiwi' 'mango' 'blueberry'
 'blackberry' 'gooseberry' 'papaya']

### Four

In [31]:
print(type(s1))

<class 'pandas.core.series.Series'>

### Five

In [33]:
print(s1.head())

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [34]:
print(s1.tail(3))

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [38]:
print(s1.sample())

4    gala apple
dtype: object

### Six

In [40]:
print(s1.describe())

count       17
unique      13
top       kiwi
freq         4
dtype: object

### Seven

In [48]:
print(s1.unique())

['kiwi' 'mango' 'strawberry' 'pineapple' 'gala apple' 'honeycrisp apple'
 'tomato' 'watermelon' 'honeydew' 'blueberry' 'blackberry' 'gooseberry'
 'papaya']

### Eight

In [46]:
print(s1.value_counts())

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

### Nine

In [56]:
print(s1.value_counts().index.tolist()[0])

kiwi

### Ten

In [62]:
print(s1.value_counts().index.tolist()[-1])

papaya

## Exercises Part II

### One

In [64]:
print(s1.str.upper())

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

### Two

In [66]:
print(s1.counts('a'))

AttributeError: 'Series' object has no attribute 'counts'