In [2]:
import numpy as np
import pandas as pd
from pydataset import data

In [3]:
my_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
s1 = pd.Series(my_list)

## Exercies Part I

### One

In [4]:
print(s1.count())

17

### Two

In [5]:
# presenting one type of index output
print(s1.index)

RangeIndex(start=0, stop=17, step=1)

In [6]:
# if we are attempting to get every item of the range, we can cast it as a list:
list(s1.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

### Three

In [21]:
print(s1.values)

['kiwi' 'mango' 'strawberry' 'pineapple' 'gala apple' 'honeycrisp apple'
 'tomato' 'watermelon' 'honeydew' 'kiwi' 'kiwi' 'kiwi' 'mango' 'blueberry'
 'blackberry' 'gooseberry' 'papaya']

### Four

In [8]:
# looking for the dtype
s1.dtype

dtype('O')

### Five
getting into method calls, that is functions which require passing something to it

In [10]:
#recall that you can put a question mark at the end of a method to get help input

# or press shift + tab
pd.Series.head?

Signature: pd.Series.head(self: 'NDFrameT', n: 'int' = 5) -> 'NDFrameT'
Docstring:
Return the first `n` rows.

This function returns the first `n` rows for the object based
on position. It is useful for quickly testing if your object
has the right type of data in it.

For negative values of `n`, this function returns all rows except
the last `n` rows, equivalent to ``df[:-n]``.

Parameters
----------
n : int, default 5
    Number of rows to select.

Returns
-------
same type as caller
    The first `n` rows of the caller object.

See Also
--------
DataFrame.tail: Returns the last `n` rows.

Examples
--------
>>> df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
...                    'monkey', 'parrot', 'shark', 'whale', 'zebra']})
>>> df
      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey
5     parrot
6      shark
7      whale
8      zebra

Viewing the first 5 lines

>>> df.head()
      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey

Viewing the first `n` lines (three in this case)

>>> df.head(3)
      animal
0  alligator
1        bee
2     falcon

For negative values of `n`

>>> df.head(-3)
      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey
5     parrot
File:      /usr/local/lib/python3.10/site-packages/pandas/core/generic.py
Type:      function

In [33]:
print(s1.head())

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [34]:
print(s1.tail(3))

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [12]:
#provide 3 random samples
print(s1.sample(3))

1               mango
5    honeycrisp apple
6              tomato
dtype: object

### Six

In [40]:
print(s1.describe())

count       17
unique      13
top       kiwi
freq         4
dtype: object

### Seven

In [48]:
print(s1.unique())

['kiwi' 'mango' 'strawberry' 'pineapple' 'gala apple' 'honeycrisp apple'
 'tomato' 'watermelon' 'honeydew' 'blueberry' 'blackberry' 'gooseberry'
 'papaya']

### Eight

In [46]:
# count it yourself
print(s1.value_counts())

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [15]:
# the total count of unique elements
s1.nunique()

13

### Nine

In [56]:
print(s1.value_counts().index.tolist()[0])

kiwi

### Ten

In [16]:
# to save all the items which appeared the least amount of times use this
s1.value_counts().nsmallest(n=1,keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [62]:
# to show the very last item of the items which appear in the sample the least amount of times:
print(s1.value_counts().index.tolist()[-1])

papaya

## Exercises Part II

### One

In [64]:
print(s1.str.upper())

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

### Two

In [19]:
# count all the A's in 'bananas' inside the s1 array
print('banana'.count('a'))

3

In [30]:
# count the number of A's in each item inside the s1 array
print(s1.str.count('a'))

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

### Three

In [35]:
# doing it the "hard way" 
#define vowels:
vowels =  ['a','e','i','o','u']

In [36]:
fruit = 'persimmon'

In [37]:
vowel_count = 0
for i in fruit:
    if i in vowels:
        vowel_count+=1
print(vowel_count)

3

In [41]:
len([i for i in fruit.lower() if i in vowels])

3

In [45]:
len([i for i in fruit.lower() if i in ['a','e','i','o','u']])

3

### Four

In [48]:
# to get the string length for every item in the array: 
s1.str.len()

0      4
1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
9      4
10     4
11     4
12     5
13     9
14    10
15    10
16     6
dtype: int64

In [49]:
# the longest stringed item in the array:
s1.str.len().max()

16

### Five

In [52]:
# setting a variable to be a boolean mask and comparing it to our array
longest_string = s1.str.len() == s1.str.len().max()
s1[longest_string]

5    honeycrisp apple
dtype: object

### Six

In [54]:
s1[s1.str.lower().str.count('o') >=2]

6         tomato
15    gooseberry
dtype: object

### Seven

In [55]:
s1.apply(lambda i: 'berry' in i)

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15     True
16    False
dtype: bool

### Nine

## Exercises Part III

In [65]:
s2= 'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'
letters = pd.Series(list(s2))

### One

### Three

In [56]:
def is_vowel(some_word):
    return some_word in ['a','e','i','o','u']

In [68]:
# count of vowels
(letters.str.lower().apply(is_vowel)).sum()

34

### Four

In [69]:
# using the tilda to produce 'not' vowel output
(~letters.str.lower().apply(is_vowel)).sum()

166

### Six

In [67]:
letters.value_counts()

y    13
p    12
w    10
b     9
n     9
k     9
m     9
r     8
a     8
o     8
h     8
x     8
q     8
c     8
d     8
u     7
v     7
t     7
z     7
e     6
f     6
j     6
g     5
i     5
s     5
l     4
dtype: int64

## Not sure what to call this section

In [73]:
s3= ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

numbers = pd.Series(s3)

### One

In [74]:
type(numbers)

pandas.core.series.Series

### Two

In [75]:
numbers.size

20

### Three

In [81]:
dfnumbers = pd.DataFrame(s3)

In [86]:
dfnumbers[0] = pd.to_numeric(dfnumbers[0],errors='coerce')

### Four

In [90]:
dfnumbers.describe()

         0
count  0.0
mean   NaN
std    NaN
min    NaN
25%    NaN
50%    NaN
75%    NaN
max    NaN

In [88]:
(numbers.max, numbers.min())

(<bound method NDFrame._add_numeric_operations.<locals>.max of 0       $796,459.41
 1           $278.60
 2       $482,571.67
 3     $4,503,915.98
 4      $2,121,418.3
 5      $1,260,813.3
 6        $87,231.01
 7     $1,509,175.45
 8     $4,138,548.00
 9     $2,848,913.80
 10      $594,715.39
 11    $4,789,988.17
 12     $4,513,644.5
 13    $3,191,059.97
 14    $1,758,712.24
 15    $4,338,283.54
 16    $4,738,303.38
 17    $2,791,759.67
 18      $769,681.94
 19      $452,650.23
 dtype: object>,
 '$1,260,813.3')

In [89]:
pd.cut(numbers, 4)

TypeError: can only concatenate str (not "float") to str

In [91]:
s4 =     [60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]
exam_scores = pd.Series(s4)

In [93]:
exam_scores.size

20

In [95]:
exam_scores.describe()

count    20.000000
mean     78.150000
std      11.352139
min      60.000000
25%      70.500000
50%      79.000000
75%      85.250000
max      96.000000
dtype: float64